name: Run web scraper

#on: 
#  schedule:
#    - cron: '30 12 * * *' # Run the workflow every day at 12:30 UTC
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          
      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Execute contract scrape
        run: python contracts_linux.py

      - name: Commit and push changes
        run: |
          git add Contract_data/*.csv
          git diff --cached --quiet || git commit -m "Add new scraped data CSV files"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Required to authenticate the commit
